APP_PORT=18080

POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=15433
POSTGRES_USER=devtodo
POSTGRES_PASSWORD=devtodo_password
POSTGRES_DB=devtodo_db
POSTGRES_SSLMODE=disable

DATABASE_URL=postgres://devtodo:devtodo_password@127.0.0.1:15433/devtodo_db?sslmode=disable

JWT_SECRET=change_me_later
